
<div>
    <h1>Oh My!</h1>
<h2>Looks like you are offline, what a bummer!</h2>
</div>

<div>
<h4>In the meantime check out this new book:</h4>
    <img src="assets/offlineBook.jpg" alt="Cover of a book">
</div>
