<img id="obaIMG" src="./assets/obaIMG2.jpeg">
<section class="header">
<h1>Amsterdam Public Library</h1>
</section>

<h2></h2>

<div class="subHeader">
<div class="subTitle">
<h3>This application uses handtracking.js and ar.js to render objects on your hands in augmented reality</h3> 
<% include ./noscript %>
  </div>

  <div>
    <button ><a href="oba-ar">go to ar view</a> 

    </button>
  </div>

</div>  
  
<!--


next i need to layer the camera of the handtrack js behind the camera of the a-scene so that it is invisible to the user but still tracks
then i need to add an async script that looks continuously for detected hands and then renders a box on that hand for 0.2 seconds before it tracks the hand to a new spot to put the box on




-->


