<body>

<h1>Welcome To OB-AR
</h1>


<div id="updatenote" class="updatenote mt10"> loading handtracking model...
    </div>
<img id="obaIMG" src="./assets/obaIMG2.jpeg">



<div class="inputSection">
    <div id="form"> 
        <form action="input">
            <input type="button" value="submit" class="submitButton" id="i-button" tabindex="0">
            <input type="text" placeholder="What are you looking for?" id="i-text" tabindex="0">
            <section>
            <select id="options" tabindex="0">
                <option value="Filter">Filter</option>
                <option>Title</option>
                <option>Author</option>
                <option>ISBN</option>
            </select>
            </section>

        </form>
    </div>
</div>


</div>
<div class="allBooks" tabindex="0">



</div>

</section>









<div class="videoClass">
    </div>
<video class="videobox canvasbox" autoplay="autoplay" id="myvideo"></video>
<canvas id="canvas" class="border canvasbox"></canvas>

</body>