
<div id="noscript">

<section class="noScriptBanner">

<div class="noScriptBox">
<noscript>
We have discovered that you have disabled javascript. You can still use our core functionalities though you will not be able use the Augmented Reality build in this site. <br>
If you wish to access the augmented reality functionalities please enable javascript.
</noscript>

</div>
</section>

</div>


<script>
window.addEventListener('load', deleteNoScript, false)

deleteNoScript(){
    var noscript = document.querySelector('.noScriptBox').value;
    var parent = document.querySelector('.noScriptBox').value;
    console.log(noscript);
    noScriptBox.style.display = 'none';
}

</script>

