@media only screen and (max-width: 800px) {
  p{
    font-size: 125%;
  }
  #obaIMG{
    margin-left:-180px;
    margin-top:300px;
    width: 380px;
    height: 350px;
    opacity: 1;
    z-index: 10;
  }
  #form{
    grid-column:1/3;
    grid-row:2/3;
}

}

@media only screen and (max-width: 600px) {
   h3{
       font-size: 15px;
   }

   #obaIMG{
      margin-left:-160px;
      width: 340px;
      height: 220px;  
   }
   
   #videoClass{
    grid-column: 1/2;
    grid-row:2/3;
   }
   #updatenote{
     font-size: 5vw;
   }

  }

  @media only screen and (max-width: 350px) {
    p{
      font-size: 90%;
    }
      #obaIMG{
          margin-left:-110px;
          width: 215px;
          height: 205px;
          z-index: -10;
      }
      #i-button{
        grid-column:1/2;
        grid-row: 3/4;
        
        }

  }