/* Progressive enhancements:
    - body{font family covers 100% of devices} 
    - buttons ipv div.button
    - 

*/

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    text-align: center;
    
}

h1{
    font-size: 7.5vw;
    color: blue;
    margin-bottom:0;
    background:linear-gradient(firebrick, #fff);
}
h2{
    font-size: 2.5vw;
}
h3{
    font-size:1.5vw;
}

p{
    font-size: 1vw;
}

.canvasbox {
    width: 0px;
    height: 0px;
}


.updatenote {
    padding: 10px;
    background:linear-gradient(#fff, firebrick);
    color: white;
    display: inline;
}


#arjsDebugUIContainer{
    display: none;
}

.header{
    border-bottom: 1px solid black;
    background-color: linear-gradient(#ffffff, #d13d3d);
    margin-top: 20px;

}

.subTitle{

}

.subHeader{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr; 
    grid-template-rows: 20vh 20vh;
}

.inputSection{
    grid-column: 1/2;
    grid-row: 0/2;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:  1fr 1fr 1fr 1fr;
    background:linear-gradient(firebrick, #fff);
}

#i-button{
    grid-column:1/2;
    grid-row: 2/3;
    
}
#i-text{
    grid-column:1/2;
    grid-row: 2/3;

}
#updatenote{
    grid-column:1/4;
    grid-row: 1/2;
}

#inputField{
 padding: 10px 10px;
 margin-top: 20px;
 grid-row:2/3;
 grid-column:3/4;
}


#i-button{
    padding: 10px 10px;
    margin-top: 20px;
    grid-column:1/2;
    grid-row: 3/4;
}

#updatenote{
    background-color: red;  
    font-size: 2vw;
}
.videoClass{

}

button{
    padding: 5px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.836);
}

a{
    text-decoration: none;
}
.noScriptBanner{
    margin-left: -1000px;
    margin-top: 200px;
    position: absolute;
    opacity: 1;
    font-weight: 550;
    animation-name: noScript;
    animation-duration: 1s;

    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-play-state: running;
    height: 100px;
    width:100vw;    
    color:red;
    padding-top: 50px;
}

.noScriptBox{
    position: sticky;   
}

#obaIMG{
    position: absolute;
    z-index: 10;
    
    text-align: center;
    align-content: center;
    justify-items: center;
    margin-top: 170px;
    margin-left: 60px;
    opacity: 0.8;
}

#bgImage{
    position: absolute;
    z-index:-1000;
    opacity: 0.2;
    padding:0;
    margin-left:-50vw;
    width: 100vw;
    height: 50vw;

}

#templateResult{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr; 
   grid-template-rows: 1fr 1fr 1fr 1fr;
   grid-gap: 5vw;

}

.result{
    box-shadow: 0vw 5vh 5vw rgb(0, 0, 0);
    padding: 10px;
    background-color: firebrick;
    font-weight: 500;
    font-family: sans-serif;
}

.result:nth-child(even){
    
}

#options{
    padding: 2vw 2vw;
    font-size: 20px

}

#form{
    grid-column:1/2;
    grid-row:2/3;
}
form{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin:5px;
}